.thumbsBox {
  width: 50%;
  height: 50%;
}

.pTop {
  position: absolute;
  top: 0px;
}

.pBot {
  position: absolute;
  bottom: 0px;
}

.pLeft {
  position: absolute;
  left 0px;
}

.pRight {
  position: absolute;
  right: 0px;
}

#tUp {
  background-color: #00FF00;
  border: 4px solid black;
  font-family: Arial;
  text-align: center;
  font-size: 100px;
  color: white;
}

#tWiggle {
  background-color: #00FFFF;
  border: 4px solid black;
  font-family: Arial;
  text-align: center;
  font-size: 100px;
  color: white;
}

#tDown {
  background-color: #FF0000;
  border: 4px solid black;
  font-family: Arial;
  text-align: center;
  font-size: 100px;
  color: white;
}

#tOops {
  background-color: #FFFF00;
  border: 4px solid black;
  font-family: Arial;
  text-align: center;
  font-size: 100px;
  color: white;
}

#tUp:hover {
  background-color: #c5ff8c
}

#tWiggle:hover {
  background-color: #73FFFF
}

#tDown:hover {
  background-color: #FF4D4D
}

#tOops:hover {
  background-color: #FFFF80
}

#content {
  border: 2px solid d8bfd8;
}

div {
  border: 4px double #f0f0f5;
}

body {
  border: 4px solid #f0f0f5;
}

#headerBox {
  margin: 30px;
  border-bottom: solid 1px #f0f0f5;
  background-color: #d8bfd8;
  font-family: 'Cormorant';
  font-size: 17px;
}

#navBox {
  border: 2px solid #000000;
  padding: 10px;
}

.navBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.child {
  display: inline;
}

.paraBox {
  border: 3px double #f0f0f5;
  margin: 20px;
  background-color: #d8bfd8;
}

h1 {
  font-family: "Brush Script MT", cursive;
  font-style: italic;
  color: #ba55d3;
  text-shadow: 2px 2px #dda0dd;
  font-size: 45px;
}

h2 {
  font-style: italic;
  font-size: 30px;
  color: #ba55d3;
  text-shadow: 2px 2px #dda0dd;
}
